/* font */
@font-face {
    font-family: "ROKAF Sans";
    src: url("../font/ Sans\ Medium.ttf");
}
/* color */
:root{
    --brand-blue: #3692FF;
    --Primary-100: #3692FF;
    --Cool-Gray-100: #F3F4F6;
    --Secondary-800: #1F2937;
    --Secondary-400: #9CA3AF;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 231px;
}
*{
  text-decoration: none;
  box-sizing: border-box;
}


header{
    width: 640px;
    height: 132px;
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 22.24px;
}
.logo img{
    width: 103.529px;
    height: 103.88px;
    flex-shrink: 0;
}
.logo span{
    color: var(--brand-blue);
    font-family: "ROKAF Sans";
    font-size: 3.4554vw; /* 66.344px */
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


form{
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 24px;
}
form > div {width: 100%; position: relative;}
label{
    color: var(--Secondary-800);
    /* pretendard/2lg-18px-bold */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */
    display: block;
    margin-bottom: 16px;
}
.input_txt{
    width: 100%;
    height: 56px;
    padding: 16px 24px;
    align-items: center;
    border: 0;
    border-radius: 12px;
    background: var(--Cool-Gray-100);  
    display: block;
}
.input_txt:focus{
    outline-color: var(--brand-blue);
}
.input_Password img{
    position: absolute;
    top: 59px;
    right: 24px;
}

.btn{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 40px;
    background: var(--Secondary-400);  

    color: var(--Cool-Gray-100);
    /* pretendard/xl-20px-semibold */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 160% */
    cursor: pointer;
}
.btn:focus{
    background-color: var(--Primary-100);
}


.sns_login{
    display: flex;
    max-width: 640px;
    width: 100%;
    height: 74px;
    padding: 16px 23px;
    margin: 24px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #E6F2FF;
}
.sns_login span{
    color: var(--Secondary-800);
    /* pretendard/lg-16px-medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.sns_ic_box{
    display: flex;
    gap: 16px;
}
.ic_SNSlogin{
    width: 42px;
    height: 42px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google_login{
    background-color: #fff;
}
.kakao_login{
    background-color: #F5E14B;
}

.etc{margin-bottom: 20px;}
.etc span{
    color: var(--Secondary-800);
    /* pretendard/md-14px-medium */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.page_move{
    color: var(--Primary-100);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}